In [4]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

## A Test Project containing data on testing for COVID-19 by week and Country

In [5]:
data = pd.read_csv(r"data.csv")

* The below displays the data as a whole

In [14]:
data

,YearWeekISO,ReportingCountry,Denominator,NumberDosesReceived,NumberDosesExported,FirstDose,FirstDoseRefused,SecondDose,DoseAdditional1,DoseAdditional2,DoseAdditional3,DoseAdditional4,DoseAdditional5,UnknownDose,Region,TargetGroup,Vaccine,Population
0,2021-W01,AT,1392642.0,0.0,0.0,0,NaN,0,0,0,0,0,0,0,AT,Age50_59,MODBA.1,8932664
1,2022-W23,AT,676675.0,0.0,0.0,14,NaN,12,12,5,0,0,0,0,AT,Age18_24,NVXD,8978929
2,2021-W32,AT,424628.0,0.0,0.0,0,NaN,0,0,0,0,0,0,0,AT,Age10_14,MODBA.1,8932664
3,2021-W32,AT,260101.0,0.0,0.0,0,NaN,0,0,0,0,0,0,0,AT,Age15_17,MODBA.1,8932664
4,2021-W32,AT,676675.0,0.0,0.0,0,NaN,0,0,0,0,0,0,0,AT,Age18_24,MODBA.1,8932664
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
816548,2022-W37,SK,285322.0,0.0,0.0,3,NaN,3,6,0,0,0,0,0,SK,Age10_14,COM,5434712
816549,2022-W37,SK,4402238.0,0.0,0.0,42,NaN,52,216,758,0,0,0,0,SK,ALL,COM,5434712
816550,2022-W36,SK,686528.0,0.0,0.0,0,NaN,1,0,1,0,0,0,0,SK,Age60_69,NVXD,5434712
816551,2022-W36,SK,702343.0,0.0,0.0,2,NaN,0,2,2,1,0,0,0,SK,Age50_59,NVXD,5434712
816552,2022-W36,SK,2030544.0,0.0,0.0,4,NaN,7,9,0,0,0,0,0,SK,Age25_49,NVXD,5434712

In [8]:
data.tail()

,YearWeekISO,ReportingCountry,Denominator,NumberDosesReceived,NumberDosesExported,FirstDose,FirstDoseRefused,SecondDose,DoseAdditional1,DoseAdditional2,DoseAdditional3,DoseAdditional4,DoseAdditional5,UnknownDose,Region,TargetGroup,Vaccine,Population
816548,2022-W37,SK,285322.0,0.0,0.0,3,NaN,3,6,0,0,0,0,0,SK,Age10_14,COM,5434712
816549,2022-W37,SK,4402238.0,0.0,0.0,42,NaN,52,216,758,0,0,0,0,SK,ALL,COM,5434712
816550,2022-W36,SK,686528.0,0.0,0.0,0,NaN,1,0,1,0,0,0,0,SK,Age60_69,NVXD,5434712
816551,2022-W36,SK,702343.0,0.0,0.0,2,NaN,0,2,2,1,0,0,0,SK,Age50_59,NVXD,5434712
816552,2022-W36,SK,2030544.0,0.0,0.0,4,NaN,7,9,0,0,0,0,0,SK,Age25_49,NVXD,5434712

In [12]:
data.columns

Index(['YearWeekISO', 'ReportingCountry', 'Denominator', 'NumberDosesReceived',
       'NumberDosesExported', 'FirstDose', 'FirstDoseRefused', 'SecondDose',
       'DoseAdditional1', 'DoseAdditional2', 'DoseAdditional3',
       'DoseAdditional4', 'DoseAdditional5', 'UnknownDose', 'Region',
       'TargetGroup', 'Vaccine', 'Population'],
      dtype='object')

In [13]:
data.describe

<bound method NDFrame.describe of        YearWeekISO ReportingCountry  Denominator  NumberDosesReceived  \
0         2021-W01               AT    1392642.0                  0.0
1         2022-W23               AT     676675.0                  0.0
2         2021-W32               AT     424628.0                  0.0
3         2021-W32               AT     260101.0                  0.0
4         2021-W32               AT     676675.0                  0.0
...            ...              ...          ...                  ...
816548    2022-W37               SK     285322.0                  0.0
816549    2022-W37               SK    4402238.0                  0.0
816550    2022-W36               SK     686528.0                  0.0
816551    2022-W36               SK     702343.0                  0.0
816552    2022-W36               SK    2030544.0                  0.0

        NumberDosesExported  FirstDose  FirstDoseRefused  SecondDose  \
0                       0.0          0               NaN           0
1                       0.0         14               NaN          12
2                       0.0          0               NaN           0
3                       0.0          0               NaN           0
4                       0.0          0               NaN           0
...                     ...        ...               ...         ...
816548                  0.0          3               NaN           3
816549                  0.0         42               NaN          52
816550                  0.0          0               NaN           1
816551                  0.0          2               NaN           0
816552                  0.0          4               NaN           7

        DoseAdditional1  DoseAdditional2  DoseAdditional3  DoseAdditional4  \
0                     0                0                0                0
1                    12                5                0                0
2                     0                0                0                0
3                     0                0                0                0
4                     0                0                0                0
...                 ...              ...              ...              ...
816548                6                0                0                0
816549              216              758                0                0
816550                0                1                0                0
816551                2                2                1                0
816552                9                0                0                0

        DoseAdditional5  UnknownDose Region TargetGroup  Vaccine  Population
0                     0            0     AT    Age50_59  MODBA.1     8932664
1                     0            0     AT    Age18_24     NVXD     8978929
2                     0            0     AT    Age10_14  MODBA.1     8932664
3                     0            0     AT    Age15_17  MODBA.1     8932664
4                     0            0     AT    Age18_24  MODBA.1     8932664
...                 ...          ...    ...         ...      ...         ...
816548                0            0     SK    Age10_14      COM     5434712
816549                0            0     SK         ALL      COM     5434712
816550                0            0     SK    Age60_69     NVXD     5434712
816551                0            0     SK    Age50_59     NVXD     5434712
816552                0            0     SK    Age25_49     NVXD     5434712

[816553 rows x 18 columns]>

### Relating the variables with scatterplot

In [ ]:
sns.relplot(x="NumberDosesReceived", y="NumberDosesExported", data=data)